
*{
    box-sizing: border-box;
    margin: 0;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:  rgb(116, 209, 209);
    padding: 90px 20px 0;

    background-image: url("fotofondo2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    background-size: 75%;
}

.contenedor{
    width: 100%;
    border: 0;
    padding: 0;
    top: 450px;
    
    
}

.columna1{
    width: 50%;
    float: left;
    justify-content: center;
    top:450px;
    position: relative;
    background-color:  rgb(156, 243, 231);
    text-align: justify;
}

.columna2{
        width: 50%;
    float: right;
    justify-content: center;
    text-align:justify;
    top: 450px;
    position: relative;
    background-color: rgb(156, 243, 231);
    padding: 0%;
}

h1{ 
    border: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 10px;
    color:black;     
}

 h2,h3,h4,h5 { 
    color: black;
    margin: 10px;
    border-color: black;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;  
}

.titulovideo{
    background-color: rgb(116, 209, 209);
    margin: 0px;
    padding-top: 20px;
}

p {
    background-color:aliceblue;
    color: black;
    margin: 20px;
    padding: 10px;
    font-size: large;
}

.botonver-{
    font-family: 'Lucida Sans';
    font-size: medium;
    color: white;
    background-color: blueviolet;
}



.contactanos{
    background-color:  rgb(116, 209, 209);
    color: black;
    padding: 10px;
    padding-top: 10px;
    margin: 10;
}

.quienessomos{
    background-color: white;
    color: black;
    padding: 15;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: none;
}

form {
    margin: 0;
    padding: 10px;
    width: 50%;
    float: left;
    background-color: rgb(116, 209, 209); 
    text-align:start;
    display: -webkit-box;
    display: -ms-flexbox;
    position: absolute;
    
}

.input {
    width: 100%;
    align-items: start;

}


img{
    padding: 15px;
    width: 300px;
    height: 300px;
}

.alineadotexto{
    vertical-align: bottom;
}

li{
    padding: 5px;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

video{
    padding: 0px 50px;
    width: 100%;
    background-color: rgb(116, 209, 209);
    
}

a{
    color: aliceblue;
}


.header {
    background-color: blueviolet;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
   }

   .nav{
    display: flex;
    justify-content:space-between;
    max-width: 992px;
    margin: 0 auto;
    position: fixed;
    z-index: 999;
    left: 300px;

    
   }

   .nav-link{
    color: white;
    text-decoration: none;
   }

   .nav-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
    }

   .nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    text-align: center;
   }

   .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

   }
   .nav-menu-link:hover {
    background-color: rgb(26, 23, 23);
    transition: 0.5s;
   }

   .square{
    font-size: 18px;
    font-family: 'Lucida Sans', 
   }

   .fab {
    color: black;
    padding: 0px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    
   }

   .botonactividad{
    font-family: 'Lucida Sans';
    font-size: medium;
    color: white;
    background-color: blueviolet;
   }


   .botoninstagram{
    background-color: rgb(116, 209, 209);
    border-color:rgb(116, 209, 209);
   }



   @media (max-width: 768px) {
    body{
        background-color: rgb(209, 226, 228);
        padding: 0px 20px 0;
        padding-top: 80px;
    
        background-image: url("fotofondo2.jpg");
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        background-size: 80%;
    }
    h1,h2,h3,h4,h5 { 
        color: black;
        margin: 10px;
        border-color: black;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;  
        font-size: medium;
   }
   p {
    background-color:aliceblue;
    color: black;
    margin: 20px;
    padding: 10px;
    font-size: medium;
    }   


form {
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: rgb(116, 209, 209); 
    text-align:start;
    display:block;
   }

   
.columna1{
    width: 100%;
    justify-content: center;
    top:120px;
    position: relative;
    background-color:  rgb(156, 243, 231);
    text-align: justify;
    display: block;
    }

.columna2{
        width: 100%;
    justify-content: center;
    text-align:justify;
    top: 570px;
    position: relative;
    background-color: rgb(156, 243, 231);
    padding: 0%;
    display: block;
    
    }
}